name: Prebuild
on:
  workflow_dispatch:
jobs:
  prebuild:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            platform: linux
            arch: x64
          - os: ubuntu-22.04-arm
            platform: linux
            arch: arm64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: |
          sudo apt update
          sudo apt install -y libgtk-4-dev libwebkitgtk-6.0-dev
      - run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 20
      - run: npm install -g bare-runtime bare-make
      - run: npm install
      - run: bare-make generate --platform ${{ matrix.platform }} --arch ${{ matrix.arch }} ${{ matrix.flags }}
      - run: bare-make build
      - run: bare-make install
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.tags }}
          path: prebuilds/*
  merge:
    runs-on: ubuntu-latest
    needs: prebuild
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: prebuilds
          merge-multiple: true
      - uses: actions/upload-artifact@v4
        with:
          name: prebuilds
          path: prebuilds
